.countdown {
    display: flex;
    gap: 48px;
    align-items: center;
    @include media-query(1399px) {
        gap: 24px;
    }
    @include media-query(492px) {
        padding-right: 24px;
    }
    li {
        display: flex;
        gap: 16px;
        align-items: center;
        @include media-query(1399px) {
            gap: 12px;
        }
        @include media-query(492px) {
            gap: 6px;
            flex-direction: column;
            justify-content: center;
        }
    }
}