// Faq 
.faq {
    .faq-block {
        padding: 24px;
        padding-right: 48px;
        margin-bottom: 24px;
        border-radius: 10px;
        background: $white;
        box-shadow: $shadow;
        .accordion-button {
            margin: 0;
            position: relative;
            padding: 0;
            font-weight: 500;
            font-size: 21px;
            line-height: 130%;
            @media (max-width: 992px) {
                font-size: 20px;
            }
            @media (max-width: 767px) {
                font-size: 19px;
            }
            @media (max-width: 575px) {
                font-size: 18px;
            }
            &.collapsed {
                border-radius: 0px;
                padding: 0;
                background: none;
                margin: 0;
                &::after {
                    background-image: none !important;
                    content: "\f067";
                    font-family: $font-awesome;
                }
            }
            &:not(.collapsed) {
                color: $black;
                background: transparent;
                border: none;
                box-shadow: none;
            }
            &:focus {
                border: none;
                box-shadow: none;
            }
            &::after {
                content: "\f068";
                font-family: $font-awesome;
                background-image: none !important;
                position: absolute;
                right: -24px;
                font-weight: 300;
                color: $accent-1;
                font-size: 30px;
                cursor: pointer;
            }
        }
        .accordion-collapse {
            p {
                margin: 16px 0 0;
            }
        }
    }
}