// Sidebar
.sidebar {
    padding: clamp(18px, 1vw, 48px);
    border-radius: 20px;
    border: 1px solid $accent-1;
    .search_bar {
        input {
            border-radius: 8px;
            left: 18px;
            padding: 14px 24px;
            padding-left: 48px;
        }
        button {
            top: 17px;
        }
    }
    .sidebar_block {
        position: relative;
        .tags {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            span {
                color: $dark-gray;
            }
        }
        .categories_tags {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            a {
                color: $white;
                padding: 4px 8px;
                background: $accent-1;
                border-radius: 5px;
                transition: $transition;
                &:hover {
                    background: $medium-black;
                }
            }
        }
        .sidebar_blog_card {
            display: flex;
            gap: 16px;
            align-items: center;
            background: $white;
            box-shadow: $shadow;
            border-radius: 10px;
            padding: 16px;
            .img_block {
                overflow: hidden;
                flex-shrink: 0;
                border-radius: 6px;
                img {
                    border-radius: 5px;
                    -webkit-transition: all 0.6s linear 0s;
                    transition: all 0.6s linear 0s;
                }
            }
            .blog_title {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            &:hover {
                .img_block {
                    img {
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                        -webkit-transition: all 0.6s linear 0s;
                        transition: all 0.6s linear 0s;
                    }
                }
            }
        }
    }
}